# Virtual Environment
venv
.venv

# Pycache
__pycache__

# Environment Variables
.env.local
.env

# Log files
**/*.log

# post and generated images
data/scheduled_posts/*.json
data/generated_images/*.jpg
