annotated-types==0.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
instagrapi==2.1.2
lorem==0.1.1
numpy==2.0.1
pillow==10.4.0
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
PySocks==1.7.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
